body{
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container{
  background-color: white;
  height: 650px;
    width: 1100px;
  border-radius: 15px;
  display: flex;
 align-items: center;
  justify-content: center;
 
  margin-top: 30px;
}
.left{
 width: 60%;
 height: 650px;
position: relative;
display: flex;
justify-content: center;
}
.left-main-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  width: 600px;
  margin-top: 120px;
}

.left-main-form .logo{
  width: 100px;
   height: 100px;
   flex-direction: column;
   display: flex;
   justify-content: start;
   position: absolute;
   top: 10px;
   left: 10px;

}
.left h1{
  color: green;
font-family: 'montserrat';
font-size: 20px;
    display: flex;
    align-items: center;
   font-weight: 800px;
   margin-top: 170 px;
}
.line {
  width: 25px;
  border-bottom: 2px solid rgb(98, 201, 39);
  margin-bottom: 24px;
}
.right{
  height: 650px;
  width: 40%;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.social-logo{
  display: flex;
  align-items: center;
  gap: 13px;
  justify-content: center;
}
.left-main-form .social-logo img{
  width: 18px;
}
.left-main-form p{
  color: rgb(113, 103, 87);
  font-family: 'montserrat';
  font-size: 11px;
}
.mb-3 input{
  height: 35px;
    width: 300px;
    border: 2px solid rgb(106, 234, 106);;
    border-radius: 4px;
}
.mb-3 textarea{
  height: 35px;
    width: 300px;
    opacity: 50%;
    margin: 0px 0 0 0;
}
::placeholder{
  font-family: 'montserrat';
  font-size: 15px;
  padding: 5PX;
}
input :focus + ::placeholder
input :valid + ::placeholder{
  color: green;
  height: 30px;
  line-height: 30px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1111;
}
a{
  font-family: 'montserrat';
  text-decoration: none;
  font-weight: 500;
  color: black;
  font-size: 11px;
}
label{
  font-family: 'montserrat';
  font-size: 12px;
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: -10px;
}

.check-wrap{
  height: 35px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 3px 10px 0px 49px;
  font-size: 11px;
}
.button{
  margin-top: 54px;
}
.button button{
  background-color: rgb(106, 234, 106);
  color: aliceblue;
  margin: 10px;
  width: 114px;
  height: 33px;
  font-family: 'montserrat';
  border: 2px solid rgb(106, 233, 106);
  border-radius: 14px;

}
footer{
  margin-top: 10px;
}
.footer h6 {
  opacity: 50%;
  font-family: 'montserrat';
  font-size: 12px;
    font-weight: 700;
}
.right h1{
  color: beige;
  display: flex;
  justify-content: center;
  font-family: 'montserrat';
  align-items: center;
}
.right p{
  font-family: 'montserrat';
  font-size: 12px;
  color: aliceblue;
}
.button-1 button{
  background-color: transparent;
  color: aliceblue;
  margin: 10px;
  font-weight: 300;
  width: 114px;
  height: 33px;
  font-family: 'montserrat';
  border: 2px solid rgb(106, 233, 106);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content:center;

}
.li{
  border-radius: 100%;
  height: 36px;
    width: 36px;
  border: 0.3px solid gray ;
}
.fb{
  border-radius: 100%;
  height: 36px;
    width: 36px;
  border: 0.3px solid gray ;
 
}
.fb img{
  width: 22px !important;
    padding: 6px;
}

.li img{
  width: 13px !important;
  padding: 11px;
  
}
.google{
  border-radius: 100%;
  height: 36px;
    width: 36px;
  border: 0.3px solid gray ;
 
}
.google img{
  width: 22px !important;
  padding: 5.5px;
}
.line-1 {
  width: 28px;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-bottom: 24px;
}
.grapgh p{
  width: 183px;
  margin-top: 4px;
}